@import './../../../appColor.scss';

.market-details {
    padding: 3px 0 10px 0;
    .market-details-header-content {
        display: flex;
        div {
            flex-grow: 1;
        }
        .market-name {
            text-align: left;
            font-size: $font-size-smallest;
            color: $medium-color;
        }
    }
}