@import './../../../appColor.scss';

.market-selection-tab {
    text-align: left;
    .market-selection-name {
        font-size: $font-size-smallest;
        color: $secondary-color;
        margin-bottom: 5px;
    }
    .market-selection-price {
        font-size: $font-size-largest;
        color: $primary-color;
        font-weight: 500;
    }
}