@import './../../../appColor.scss';

.tab-component {
    position: relative;
    text-align: left;
    width: 100%;
    border: 1px solid $medium-color;
    border-radius: 4px;
    margin-right: 7px;
    padding: 6px 10px 10px 18px;
    background-color: $white;
    &:hover {
        background-color: $light-color;
        cursor: pointer;
    }
    .tab-pre-header {
        margin-bottom: 5px;
    }
    .tab-header {
        font-weight: 500;
    }
    &.selected {
        background-color: $primary-color;
        div {
            color: $white;
        }
    }
    &.disabled {
        border: 1px solid $disabled-tab-border;
        background-color: $disabled-tab-background;
        &:hover {
            background-color: none;
            cursor: default;
        }
    }
    .arrow {
        $arrow-thickness: 7px;
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: $arrow-thickness solid transparent;
        border-right: $arrow-thickness solid transparent;
        border-bottom: $arrow-thickness solid transparent;
        &.positive {
            transform: rotate(-45deg);
            left: -1px;
            top: 2px;
            border-bottom: $arrow-thickness solid $positive-color;
        }
        &.negative {
            right: -1px;
            bottom: 2px;
            transform: rotate(135deg);
            border-bottom: $arrow-thickness solid $negative-color;
        }
    }
    @media (max-width: 650px) {
        margin: 0 3px;
        &:hover {
            background-color: white;
        }
        &.selected {
            background-color: $primary-color;
        }
    }
}