@import './../../appColor.scss';

.fixture-container {
    max-width: 750px;
    min-height: 550px;
    margin: 20px auto;
    border-radius: 3px;
    border: 1px solid #d7d9db;
    padding: 10px;
    background-color: $app-background-color;
    .fixture-other-text {
        margin-top: 180px;
        .display-message-text {
            .fixture-try-again {
                text-decoration: underline;
                font-style: italic;
                font-weight: 600;
                cursor: pointer;
                &:active {
                    color: $primary-color;
                }
            }
        }
    }
    .loading-spinner {
        margin-top: 180px;
    }
    @media (max-width: 650px) {
        min-height: 400px;
        .fixture-other-text, .loading-spinner { 
            margin-top: 120px;
        }
    }
}