@import './../../appColor.scss';

.fixture-container {
    max-width: 750px;
    min-height: 550px;
    margin: 20px auto;
    border-radius: 3px;
    border: 1px solid #d7d9db;
    padding: 10px;
    background-color: $app-background-color;
    position: relative;
    @media (max-width: 650px) {
        min-height: 400px;
    }
}